body{
    background-color:#c8eff9;
}

.background{
    margin-left:0;
}
.navbar-nav{
    font-size:x-large;
    text-align:right;
}

.hero {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    background-image: url("/Users/alejandrogonzalvez/Desktop/ucla-projects/portfolio/images/updated-hero copy.jpg");
}

/* About me section */

#about-me {
    background-color: #950740;
}

#aboutme-title{
    text-decoration: underline; 
}

/* latest work section */
#lastestWork {
    background-color: #022449;
}
.work {
    color: white;
    background-color: #022449;
}

#work-title{
    text-decoration: underline;
}

#latest-work-picture {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    background-image: url("/Users/alejandrogonzalvez/Desktop/ucla-projects/portfolio/images/Food-banner-2.jpeg");
    background-size:initial;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

#latest-work-picture:hover {
    transition: 0.5s;
    border: solid;
    border-width: 30px;
    background-color: white;
    border-radius: 21px;
    opacity: 95%;
    color: white;
}

/* Weather dashboard */

.weather {
    background-color: #558dca;
    color: white;
}

.weather-image {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    background-image: url("/Users/alejandrogonzalvez/Desktop/ucla-projects/portfolio/images/clouds.jpeg");
    background-size:cover;

}

#weather-title{
    text-decoration: underline;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.weather-image:hover{
    transition: 0.5s;
    border: solid;
    border-width: 30px;
    border-radius: 21px;
    color: white;


}

/* Password Section */

.password {
    background-color: #f27d42;
    color: white
}

#password-title{
    text-decoration: underline;
}

.password-image {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    background-image: url("/Users/alejandrogonzalvez/Desktop/ucla-projects/portfolio/images/cyber-security.png");
    background-size:cover;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.password-image:hover{
    transition: 0.5s;
    border: solid;
    border-width: 30px;
    background-color: white;
    border-radius: 21px;
    opacity: 95%;
    color: white;

}

/* Contact section */

#contact{

    color:black;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;
    }
    
    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }


#contact-title{
    text-decoration: underline;
}

#contact-bullet{
    color:white;
    font-size: 20px
}

.contact-image{
     background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;
    }
    
    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }

