/* Universal selector */
*{padding: 0px;
    margin: 0;
}

/* Main section */
main{
    display: flex;
    flex-wrap:wrap;
    margin-block-start: 0%;
    margin-block-end: 0%;
    margin: 0 auto;
}

/* Header */
.main-header {
    position:relative;
    display:flex;
    max-width:100%;
    height:100%;
    margin-left:0 auto;
    padding:0 1rem;
    background:transparent;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    font-size: 6rem;
    padding: 1rem; 
    text-align: start;
    flex:1 0 33.33%;
    text-decoration: underline;

}
nav.main-nav {
    padding-left: 0;
    margin-bottom: 2px;
    list-style: none;
    display: flex;
    justify-content:flex-end;
    flex:1 0 33.33%;
    margin-top: 100px;
}

nav  li {
    position:relative;
    display: inline;
    list-style-type: none;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
    color:black;
    padding: 0 ;
    justify-content: flex-end;
    
}

nav ul{
    padding:0px;
    margin-block-start: 0%;
    margin-block-end: 0%;
}

#about1:hover{
    color: white;
    transition: .5s;
    background-color: #1b1464;
    padding-top: 5%;  
}

#work1:hover{
    color: white;
    transition: .5s;
    background-color: #9e0039;
    padding-top: 5%;
}

#contact1:hover{
    color: white;
    transition: .5s;
    background-color:brown;
    padding-top: 5%;
}

#resume1:hover{
    color: white;
    transition: .5s;
    background-color: #f7941d;
    padding-top: 5%;
}

/* Container that covers about, work, contact and resume */
.parent-section{    
    padding: 1rem;
    margin: 5px;
}
/* ----------------------------------------------------*/

/* Hero image banner */

.image-wrapper{
    width: 100%;
    position: relative;
}
#hero{
width: 100%;
}

.bottom-right {
    position: inherit;
    font-family: arial;
    border: solid;
    border-radius: 10px;
    background: cadetblue;
    padding: 2px;
    text-align: end;
    z-index: 1;
    display: inline;
    left: 70%;
    bottom: 20%;
}

/* About me section */

.bio-container{

    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    display: flex;
}

.about{
    font-size: larger;
    width: 35%;
    padding: 1%;    
}

#about{
    align-items: center;
    padding-top: 15%;
    text-decoration: underline;
    text-align: center;
    flex:0 0 204px;
}

#about-bar{
    height: fit-content;
}

article{
    display: inline-block;
    font-size: large;
    padding: 9%;
    padding-top: 9%;
    flex: 3 0 400px;
    text-align: justify;
}

/* Work section */
.work-container{
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    display: flex;

}

#work-bar{
    padding-top: 1%;
}

#work{
    align-items: center;
    padding-top: 15%;
    text-decoration: underline;
    text-align: center;
    flex:0 0 204px;
}
.work{
    font-size: larger;
  }

.top-row{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    display: flex;
}

.top-content:hover{
    opacity: 60%;
    transition: opacity .5s
}

.bottom-content:hover{
    opacity: 60%;
    transition: opacity .5s
}

#css{
    color:#1b1464;
}

#js{
    color:#f7941d;
}

#react{
    color:#ed145b;
}

#node{
    color:#9e0039;
}
.top-content{
    padding: 5%;
}

.bottom-content{
    padding: 5%;
}

.top-row h3{
    text-align: center;
}


/* Contact section */

.contact-container{
    border: none;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 2%;

}

.contact-container h3{
    text-align: center;
    text-decoration: underline;
    font-size:5rem;
}
#contact-bar{
    display: flex;
    margin: auto;
    width:80%;
    height:20px;
    padding-bottom:1%;
}

.form-container{
    justify-content: center;
    display: flex;
    font-size: larger;
}

input{
    font-size: medium;
}

textarea{
    font-size: large;
    margin: 0 0 0 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;

}

/* Resume */
.resume-container{
    border: solid;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;

}

.resume-container h3{
    text-align: center;
    text-decoration: underline;
    font-size:x-large;
}

/* Footer */
footer{
        font-family: Arial, Helvetica, sans-serif;
        margin: auto;
        font-size: xx-large;
        display: flex;
        justify-content: center;
        border-top: solid crimson;
        border-width: 10px;    
}

/* MEDIA QUERIES */

/* Tablets */
@media screen and (max-width: 992px){
}

  
/* Large smartphones */
@media screen and (max-width: 768px){
    .main-nav li{
        display: flex;
        justify-content: center;
    }
    
    nav li{
        display: flex;
        flex: wrap;
        text-align: center;
    }
}

  
/* Small smartphones */
@media screen and (max-width: 576px){
    .main-nav li{
        display: flex;
        justify-content: center;
    }
}
 