*{background: white;
padding: 0px;
margin: auto;};

main{
    display: flex;
    width:100%;
    margin-block-start: 0%;
    margin-block-end: 0%;
}

.main-header {
    position:relative;
    display:content;
    max-width:100%;
    height:100%;
    margin-left:0 auto;
    padding:0 1rem;
    background:transparent;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    font-size: 6rem;
    padding: 1rem; 
    text-align: start;
    display: contents;

}
.main-nav {
    padding-left: 0;
    margin-bottom: 2px;
    list-style: none;
    display: flex;
    flex-direction: row-reverse;
    height: fit-content; 
}

nav  li {
    position:relative;
    display: inline;
    list-style-type: none;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
    color:black;
    padding: 0 ;
    justify-content: flex-end;
    
}

nav ul{
    padding:0px;
    margin-block-start: 0%;
    margin-block-end: 0%;
}

.parent-section{
    border: solid;
    padding: 1rem;
    margin: 5px;
}

.hero-image img{
    width: 100%;
    height: 200px;
    justify-items: stretch;
}

figcaption{
    font-family: Arial, Helvetica, sans-serif;
    text-align: end;
}

article{
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}

section .about-container{
    display: flex;
    flex-wrap: wrap;
    border: solid;
    
}

.about{
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;

}

.bio{
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}

.work-container{

}
.work{
    display: block;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
}

.contact-container{

}

.contact{
    display: block;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
}

.resume-container{

}

.resume{
    display: block;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
}

/* Tablets */
@media screen and (max-width: 992px){
}

  
/* Large smartphones */
@media screen and (max-width: 768px){
    .main-nav li{
        display: flex;
        justify-content: center;
    }
    
    nav li{
        display: flex;
        flex: wrap;
        text-align: center;
    }
}

  
/* Small smartphones */
@media screen and (max-width: 576px){
    .main-nav li{
        display: flex;
        justify-content: center;
    }
}
 